h1, h2, h3, h4, h5, h6 {
    /* font-family: 'Fira Code' !important; */
    text-transform: none !important;
}

img {
    border: none !important;
    box-shadow: none !important;
}

pre>code {
    font-family: 'Fira Code' !important;
}

.align-right {
    text-align: right;
}
.align-left {
    text-align: left;
}
.inline-box {
    display: inline-block;
}

.vertical-align-box {
    height: 100%; 
    display: flex; 
    align-items: center;
}

img {
    margin: 0 !important;
    /* transform: scale(0.75); */
}

.small-img {
    transform: scale(0.6);
}

.content {
    font-size: 28px !important;
}
.page p {
    text-align: left;
}

#my-info>p {
    font-size: 24px;
}