<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Graph Editor</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <link rel="icon" href="./logo.ico">

    <style>
    * {
        margin: 0;
        padding: 0;
    }
    html, body {
        width: 100%;
        height: 100%;
    }
    ul {
        list-style: none;
    }

    .align-center {
        text-align: center;
    }
    .debug {
        border: 1px solid black;
    }
    </style>

    <script src="./p5.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
    <div id="app">
        <ul class="nav-bar" style="margin-bottom: 1px;">
            <li @click="changeMode(0)" :class="{active: isActive==='Create'}">Create</li>
            <li @click="changeMode(3)" :class="{active: isActive==='Paint'}">Paint</li>
            <li @click="changeMode(4)" :class="{active: isActive==='Light'}">Light</li>
            <li @click="clear()" :class="{active: isActive==='Clear'}">Clear</li>
            <li @click="showData()" :class="{active: isActive==='Data'}">Data</li>
        </ul>

        <div id="container" v-show="isActive !== 'Data'"></div>
        <div id="show-data" v-show="isActive === 'Data'">
            <div style="display: inline-block;">
                <textarea name="link-data" id="link-data" cols="30" rows="28" v-model="graphData"></textarea>
            </div>
            <div style="display: inline-block; margin-left: 50px;">
                <textarea name="draw-data" id="draw-data" cols="30" rows="28" v-model="styleData"></textarea>
            </div>
            <button @click="updateData()" class="button" style="margin-top: 15px;">更新</button>
        </div>
    </div>
</body>

<script src="main.js"></script>

</html>